<!DOCTYPE html>
<html lang="en">
<%- include('../partial/head.ejs')%>
<body>
    <%- include('../partial/nav.ejs')  %> 
      <div class="container">
        <h3>Item Details</h3>
        <div>
            <h5>Item name: <%= item.name%></h5>
            <h5>Item price: $<%= item.price %></h5>
        </div>
        <a id="deleteBtn" class="delete btn" data-id="<%=item._id%>" href="">Delete</a>
      </div>
      <script>
          deleteBtn.onclick=function(e){
              e.preventDefault();
              const id=deleteBtn.dataset.id
              console.log(id);
              const endpoint= `/items/${id}`;
              fetch(endpoint,{
                  method:'DELETE'
              }).then(res=>res.json()).then(data=>{
                  window.location.href=data.redirect
              }).catch(err=>{console.log(err);})
          }
      </script>
</body>
</html>